# Don't include the documentation files and the control files used to generate
# them into the generated archives, since that is used in order to create the
# sublime-package file.
docs/ export-ignore

# Similarly, exclude Git and GitHub related control files.
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Do not include our local file that reminds us on release procedures in the
# generated package.
RELEASE.md export-ignore

# Do not include the file that is used to test the functionality of the package
# during development in the final deployed package.
envault.yml